* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
.register-form {
  width: 450px;
  padding: 50px 20px 50px 20px;
  background-color: rgba(19, 180, 238, 0.218);
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 60px 22px rgba(119, 171, 211, 0.2);
  -moz-box-shadow: 4px 4px 60px 22px rgba(108, 188, 249, 0.2);
  box-shadow: 4px 4px 60px 22px rgba(34, 60, 80, 0.2);
  margin-top: 200px;
}
.register-form h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}
.register-form input {
  padding: 14px;
  border: none;
  border-radius: 5px;
  margin: 15px 0px;
  background: rgba(231, 60, 126, 0.3333333333);
  color: white;
  font-size: 18px;
  padding: 18px;
}
.register-form input::placeholder {
  color: white;
}
.register-form button {
  padding: 10px;
  margin-top: 25px;
  border: none;
  text-align: center;
  font-weight: bold;
  background: rgba(231, 60, 126, 0.3333333333);
  font-size: 24px;
  border-radius: 5px;
  padding: 18px;
  color: white;
}
.register-form a {
  margin-top: 25px;
  text-align: center;
  color: white;
}

input:focus {
  outline: none;
}

.register {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.toPage {
  min-height: 60vh;
}

.pageLinkWrapp {
  display: flex;
  justify-content: space-evenly;
}

.pageTitle {
  color: #2548e6;
  font-size: 50px;
  font-weight: 500;
  margin: 30px 0 90px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white !important;
  background: #2569e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta2 {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white !important;
  background: #25e6d6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta3 {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white !important;
  background: #e625a6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
  color: white;
}

.cta2:focus {
  outline: none;
  color: white;
}

.cta3:focus {
  outline: none;
  color: white;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta2:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta3:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta2 span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta3 span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.cta2:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.cta3:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}
span:hover {
  color: #fff !important;
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta2:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta3:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta2:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta3:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.cta2:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.cta3:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}
.animaa {
  background: url("https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-12/island.png") repeat-x 100% -460px;
  background-size: 780px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

.boat {
  width: 380px;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: -1;
}

.boat img {
  width: 100%;
}

.boat::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: url("https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-12/steam.png") no-repeat;
  background-size: 120px;
  position: absolute;
  top: -25%;
  left: 5%;
  opacity: 0;
}

.mike {
  width: 180px;
  position: absolute;
  top: 55%;
  left: -15%;
  -webkit-transform: rotateZ(-5deg);
}

/*	Animations - WebKit only
------------------------------------------ */
.boat {
  -webkit-animation: rock-boat 3s ease-in-out infinite;
}

.boat::after {
  -webkit-animation: steam 4s 2s infinite;
}

.animaa {
  -webkit-animation: bg-move 4s ease-out;
  /*
  -webkit-animation-direction: alternate-reverse; // 'alternate-reverse' allows the animation to begin in reverse. 
  */
  -webkit-animation-fill-mode: forward;
  /* 'animation-fill-mode' allows us to define the styles of the animated element before and after the animation runs. 

  'animation-fill-mode' value of 'backwards' means that the animation begin with the first keyframe even if the animiation is delayed.
  With 'forwards', the animation's final keyframe continues to apply even after the iteration completes. This way the background does not reset itself and remains a that last keyframe. The background then only resets its default position through a refresh or some other method. 
  'both' maintains the 1st keyframe on the delay and has the animation hold on the last keyframe. 
  */
}

/*	Keyframes - WebKit only
------------------------------------------ */
@-webkit-keyframes rock-boat {
  50% {
    -webkit-transform: rotate(-5deg) translateY(-10px);
  }
}
@-webkit-keyframes steam {
  40%, 60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-15%, -35%) rotateZ(20deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 100% -560px;
  }
  100% {
    background-position: -350% -460px;
  }
}
/* Modal oynani shakl va uslubi */
.modal {
  display: none; /* oynani ochishdan oldin oynani yashiring */
  position: fixed; /* qo'shimcha holatda joylashtiring */
  z-index: 1; /* modal oynani boshqa elementlardan ko'proq ko'rsatish */
  left: 0;
  top: 0;
  width: 100%; /* oyna to'liq ekranni egallashi kerak */
  height: 100%; /* oyna to'liq ekranni egallashi kerak */
  overflow: auto; /* agar modal oyna uzun bo'lsa, s-krollarni joylashtirish */
  background-color: rgba(0, 0, 0, 0.4); /* fonni qorala */
}

/* Modal oyna mazmuni uslubi */
.modal-content {
  background-color: #fefefe; /* oyna fon rangi */
  margin: 15% auto; /* oyna mazmunining ortasiga joylashtirish */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* oyna kengligi */
}

/* Modal yopish tugmasi uslubi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.randomWrapp {
  width: 100%;
  height: 800px;
  position: relative;
  color: #000;
}

.score {
  color: #000;
}

.animaa {
  background: url("https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-12/island.png") repeat-x 100% -460px;
  background-size: 780px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

.boat {
  width: 380px;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: -1;
}

.boat img {
  width: 100%;
}

.boat::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: url("https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-12/steam.png") no-repeat;
  background-size: 120px;
  position: absolute;
  top: -25%;
  left: 5%;
  opacity: 0;
}

.mike {
  width: 180px;
  position: absolute;
  top: 55%;
  left: -15%;
  -webkit-transform: rotateZ(-5deg);
}

/*	Animations - WebKit only
------------------------------------------ */
.boat {
  -webkit-animation: rock-boat 3s ease-in-out infinite;
}

.boat::after {
  -webkit-animation: steam 4s 2s infinite;
}

.animaa {
  -webkit-animation: bg-move 4s ease-out;
  /*
  -webkit-animation-direction: alternate-reverse; // 'alternate-reverse' allows the animation to begin in reverse. 
  */
  -webkit-animation-fill-mode: forward;
  /* 'animation-fill-mode' allows us to define the styles of the animated element before and after the animation runs. */
}

/*	Keyframes - WebKit only
------------------------------------------ */
@-webkit-keyframes rock-boat {
  50% {
    -webkit-transform: rotate(-5deg) translateY(-10px);
  }
}
@-webkit-keyframes steam {
  40%, 60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-15%, -35%) rotateZ(20deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 100% -560px;
  }
  100% {
    background-position: -350% -460px;
  }
}
.wordWrapper {
  position: relative;
  min-height: 70vh;
  margin-bottom: 300px;
}

.btn1 {
  color: #000;
  margin: 10px;
  display: inline-block;
  perspective: 1000px;
  cursor: pointer;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 0, 191, 0.6705882353);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(25, 0, 255, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgba(255, 0, 191, 0.6705882353) 20%, transparent 30%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(255, 0, 191, 0.6705882353) 15%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(255, 0, 191, 0.6705882353) 15%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%), radial-gradient(circle, rgba(255, 0, 191, 0.6705882353) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: rgba(230, 0, 172, 0.6705882353);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.uzbLan {
  background-color: rgba(1, 88, 114, 0.6862745098);
}
.uzbLan:active {
  background-color: rgba(0, 75, 110, 0.8784313725);
  box-shadow: 0 2px 25px rgba(0, 255, 64, 0.2);
}

.matched {
  background: yellowgreen;
}

.togrijavoblar {
  color: green;
}

.natogrijavoblar {
  color: red;
}/*# sourceMappingURL=main.css.map */